{% extends "base.html" %} {% block title %} HOME {% endblock %} {% block content%}



<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" id="login_jury" href="/login_jury"> JURAT </a>
        <a class="nav-item nav-link" id="login_public" href="/login_public"> ÎN SALĂ </a>
        <a class="nav-item nav-link" id="login_public" href="/login_public_online"> ONLINE </a>
      </div>
    </div>
  </nav>


  <h3 align = "center"> Alege secțiunea care ți se potrivește: jurat, în sală, sau online. <br>
                        În cazul în care ești jurat sau în sală folosește datele primite pentru logare. <br>
                        Votarea se poate face doar pana la ora {{x}}. Rezultatele se vor afișa după această ora.
  </h3> -->
  
  <div class="links">
    <ul class="links__list" style="--item-total:5">
      <li class="links__item" style="--item-count:1">
        <a class="links__link" href="/login_jury">
          <svg class="links__icon" viewBox="0 0 32 32">
             <img src='/static/images/juriu.png'>
  
          </svg>
          <span class="links__text">Juriu</span>
        </a>
      </li>
      <li class="links__item" style="--item-count:2">
        <a class="links__link" href="/login_public">
          <svg class="links__icon" viewBox="0 0 31 32">
            <img src='/static/images/public.png'>
  
          </svg>
          <span class="links__text">Public Sala</span></a>
      </li>
      <li class="links__item" style="--item-count:3">
        <a class="links__link" href="/voting_public_online">
          <svg class="links__icon" viewBox="0 0 32 32">
            <img src='/static/images/online.png'>
          </svg>
          <span class="links__text">Public Online</span></a>
      </li>
      <li class="links__item" style="--item-count:4">
        <a class="links__link" href="/results_loading">
          <svg class="links__icon" viewBox="0 0 32 32">
            <img src='/static/images/rezultate.png'>
          </svg>
          <span class="links__text">Rezultate</span></a>
      </li>
    </ul>
  </div>

  <style>
:root {
  --base-grid: 8px;
  --colour-white: #fff;
  --colour-black: #1a1a1a;
}

*, :after, :before {
    box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(-170deg,#064997 20%,#105ba7);
  background-position: 100%;
}

body {
  background-image: linear-gradient(270deg,#2b67ac 3px,transparent 0),linear-gradient(#2b67ac 3px,transparent 0),linear-gradient(270deg,rgba(43,103,172,.4) 1px,transparent 0),linear-gradient(#2b67ac 1px,transparent 0),linear-gradient(270deg,rgba(43,103,172,.4) 1px,transparent 0),linear-gradient(#2b67ac 1px,transparent 0);
  background-size: 112px 112px,112px 112px,56px 56px,56px 56px,28px 28px,28px 28px;
  font-family: Josefin Sans, sans-serif;
    margin: 0;
  padding: 0;
}

.links {
  --link-size: calc(var(--base-grid)*20);
  color: var(--colour-black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.links__list {
  position: relative;
  list-style: none;
}

.links__item {
  width: var(--link-size);
  height: var(--link-size);
  top: 0;
  left: 0;
  margin-top: 10;
  margin-left: 10;
  display: inline-block;
  transform: translateY(-10em);
}
.links__link {
  opacity: 0;
  animation: on-load .3s ease-in-out forwards;
  animation-delay: calc(var(--item-count)*150ms);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  background-color: var(--colour-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.links__icon {
  width: calc(var(--base-grid)*8);
  height: calc(var(--base-grid)*8);
  transition: all .3s ease-in-out;
  fill: var(--colour-black);
}

.links__text {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  height: calc(var(--base-grid)*2);
  font-size: calc(var(--base-grid)*2);
  display: none;
  bottom: calc(var(--base-grid)*8.5);
  animation: text .3s ease-in-out forwards;
}

.links__link:after {
  content: "";
  background-color: transparent;
  width: var(--link-size);
  height: var(--link-size);
  border: 2px dashed var(--colour-white);
  display: block;
  border-radius: 50%;
  /* position: absolute; */
  top: 0;
  left: 0;
  transition: all .3s cubic-bezier(.53,-.67,.73,.74);
  transform: none;
  opacity: 0;
}

.links__link:hover .links__icon {
  transition: all .3s ease-in-out;
  transform: translateY(calc(var(--base-grid)*-1));
}

.links__link:hover .links__text {
  display: block;
}

.links__link:hover:after {
  transition: all .3s cubic-bezier(.37,.74,.15,1.65);
  transform: scale(1.1);
  opacity: 1;
}

@keyframes on-load {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  70% {
    opacity: .7;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes text {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(calc(var(--base-grid)*5));
  }
}


  </style>


  {%  endblock %}
