{% extends "base.html" %} {% block title %}Voting{% endblock %}

{% block content %}

<br><br><br>
<form method='post'>
  <div class="box">
    <span class="box2"></span>
      <h1> Alegeti favoritul </h1>

      <label for="echipeA">Alege o echipa</label>

      <select name="echipeA" id="echipe1">
        <option value="1">Prima Echipa</option>
        <option value="2">A doua Echipa</option>
      </select>
	  <br><br><br>
  <button type="submit" class="btn btn-primary">Finalizeaza votarea</button>
</div>
</form>

<style>
.box {
  margin: auto;
  width: 50%;
}
</style>
<!-- Rounded switch --><!-- <br><br><br>

Echipa1<form method='post'>
	<label class="toggle-control">
		<input name ="echipeA" type="checkbox" checked="checked" value = "2">
		<input name ="echipeA" type="hidden" checked="checked" value = "1">
		<span class="control"></span>
	  </label>Echipa2
	  <br><br><br>
<button type="submit" class="btn btn-primary">Finalizeaza votarea</button>
	</form>

<style>
.toggle-control {
	 display: block;
	 position: relative;
	 padding-left: 100px;
	 margin-bottom: 12px;
	 cursor: pointer;
	 font-size: 22px;
	 user-select: none;
}
 .toggle-control input {
	 position: absolute;
	 opacity: 0;
	 cursor: pointer;
	 height: 0;
	 width: 0;
}
 .toggle-control input:checked ~ .control {
	 background-color: dodgerblue;
}
 .toggle-control input:checked ~ .control:after {
	 left: 55px;
}
 .toggle-control .control {
	 position: absolute;
	 top: 0;
	 left: 0;
	 height: 50px;
	 width: 100px;
	 border-radius: 25px;
	 background-color: darkgray;
	 transition: background-color 0.15s ease-in;
}
 .toggle-control .control:after {
	 content: "";
	 position: absolute;
	 left: 5px;
	 top: 5px;
	 width: 40px;
	 height: 40px;
	 border-radius: 25px;
	 background: white;
	 transition: left 0.15s ease-in;
}
/* Center the control */
 body {
	 /* display: flex; */
	 justify-content: center;
	 align-items: center;
	 min-height: 100vh;
	 background-color: #222229;
	 color: white;
}
  -->

</style>

{% endblock %}