{% extends "base.html" %} {% block title %}Voting{% endblock %}

{% block content %}

<br><br><br>
<form method='post'>
  <div class="box">
    <span class="box2"></span>
      <h1> Alegeti favoritul </h1>

      <label for="echipeA">Alege o echipa</label>

      <select name="echipeA" id="echipe1">
        <option value="1">Prima Echipa</option>
        <option value="2">A doua Echipa</option>
      </select>
	  <br><br><br>
  <button type="submit" class="btn btn-primary">Finalizeaza votarea</button>
</div>
</form>

<style>
.box {
  margin: auto;
  width: 50%;
}
</style>

{% endblock %}